@model Project2.Models.Blurb

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
@if (Model.ReplyID == null)
{
    <table class="form-group fullwidthOne">

        <tbody class="bg-info">
            <tr>
                <th class="btn-primary">
                    <a class="btn-primary" asp-action="Userblurbs" asp-route-id="@Model.TKeyID">@Html.DisplayFor(model => model.UserID)</a> | @Html.DisplayFor(model => model.Date)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayFor(model => model.Title)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Body)
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <table class="form-group fullwidthOne">

        <tbody class="bg-warning">
            <tr>
                <th class="btn-warning">
                    <a class="btn-warning" asp-action="Userblurbs" asp-route-id="@Model.TKeyID">@Html.DisplayFor(model => model.UserID)</a> | @Html.DisplayFor(model => model.Date)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayFor(model => model.Title)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Body)
                </td>
            </tr>
        </tbody>
    </table>

}
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="BlurbID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Return to Blurbs! Home</a>
    </form>
</div>
