@model IEnumerable<Project2.Models.Blurb>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

@if (SignInManager.IsSignedIn(User))
{
    <br>
    <form asp-controller="blurbs" asp-action="Create" method="get">
        <button class="btn-primary" type="submit">New Blurb!</button>
    </form>
}
else
{
    <h2>
        Welcome to Blurbs!
    </h2>
    <p>
        You can read existing Blurbs!, however if you would like to participate and post your own Blurbs! please <a asp-area="" asp-controller="Account" asp-action="Register">Register</a> or <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
    </p>
}
<h3>
    @ViewData["Empty"]
</h3>
@foreach (var item in Model)
{
    <table class="form-group">
        <thead>

        </thead>
        <tbody class="bg-info">
            <tr>
                <th class="bg-primary">
                    <a class="btn-primary" asp-action="Userblurbs" asp-route-id="@item.TKeyID">@Html.DisplayFor(modelItem => item.UserID)</a> | @Html.DisplayFor(modelItem => item.Date)
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Title)
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
            </tr>
            <tr>
                <td>
                    @if (UserManager.GetUserName(User) == item.UserID)
                    {
                        <a asp-action="Edit" asp-route-id="@item.BlurbID">Edit</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.BlurbID">Delete</a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
}

